.container {
    border: 1px solid black;
    border-radius: 10px;
    width: 75%;
    margin: 10px;
    margin-left: 200px;
    background-color: rgb(193, 193, 193);
    padding: 10px;
}
table {
    width: 80%;
}
.container2 {
    border: 1px solid black;
    border-radius: 10px;
    width: 75%;
    margin: 10px;
    margin-left: 200px;
    background-color: rgb(193, 193, 193);
    padding: 10px;
}
.container3 {
    border: 1px solid black;
    border-radius: 10px;
    width: 75%;
    margin: 10px;
    margin-left: 200px;
    background-color: rgb(193, 193, 193);
    padding: 10px;
}

.btn {
    background-color: rgb(80, 189, 220);
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}